{% extends 'bolao/base.html' %}

{% block content %}

    	<h2>Ranking</h2>
    	<br><br>
        {% for palpite in palpites %}
            
        	<div class="box_tabela">
        		<table class="tabela pontos">
    				<tr>
    				    <th class="nome_palpite">{{ palpite }} &nbsp;({{ palpite.autor }})</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
    				    <th class="total_palpite">{{ palpite.total }}</th>
    				</tr>
                </table>
        		
                <table class="tabela palpites">
            		<tr>
            			<td>Jogo 1</td><td><img src="{{ instituicoes.0.image.url }}" title="{{ instituicoes.0.nome_curto }}" width="20" /></td><td class="placar">{{ palpite.pj1c }}</td><td class="placar">X</td><td class="placar">{{ palpite.pj1f }}</td><td><img src="{{ instituicoes.1.image.url }}" title="{{ instituicoes.1.nome_curto }}" width="20" /></td>
            		</tr>
            		<tr>
            			<td>Jogo 2</td><td></td><td class="placar">{{ palpite.pj2c }}</td><td class="placar">X</td><td class="placar">{{ palpite.pj2f }}</td><td></td>
            		</tr>
            		<tr>
            			<td>Jogo 3</td><td></td><td class="placar">{{ palpite.pj3c }}</td><td class="placar">X</td><td class="placar">{{ palpite.pj3f }}</td><td></td>
            		</tr>	
            		<tr>
            			<td>Jogo 4</td><td></td><td class="placar">{{ palpite.pj4c }}</td><td class="placar">X</td><td class="placar">{{ palpite.pj4f }}</td><td></td>
            		</tr>
                    <tr>
                        <td>Jogo 5</td><td></td><td class="placar">{{ palpite.pj1c }}</td><td class="placar">X</td><td class="placar">{{ palpite.pj1f }}</td><td></td>
                    </tr>
                    <tr>
                        <td>Jogo 6</td><td></td><td class="placar">{{ palpite.pj2c }}</td><td class="placar">X</td><td class="placar">{{ palpite.pj2f }}</td><td></td>
                    </tr>
                    <tr>
                        <td>Jogo 7</td><td></td><td class="placar">{{ palpite.pj3c }}</td><td class="placar">X</td><td class="placar">{{ palpite.pj3f }}</td><td></td>
                    </tr>   
                    <tr>
                        <td>Jogo 8</td><td></td><td class="placar">{{ palpite.pj4c }}</td><td class="placar">X</td><td class="placar">{{ palpite.pj4f }}</td><td></td>
                    </tr>
                    <tr>
                        <td>Jogo 9</td><td></td><td class="placar">{{ palpite.pj1c }}</td><td class="placar">X</td><td class="placar">{{ palpite.pj1f }}</td><td></td>
                    </tr>
                    <tr>
                        <td>Jogo 10</td><td></td><td class="placar">{{ palpite.pj2c }}</td><td class="placar">X</td><td class="placar">{{ palpite.pj2f }}</td><td></td>
                    </tr>
                    <tr>
                        <td>Jogo 11</td><td></td><td class="placar">{{ palpite.pj3c }}</td><td class="placar">X</td><td class="placar">{{ palpite.pj3f }}</td><td></td>
                    </tr>   
                    <tr>
                        <td>Jogo 12</td><td></td><td class="placar">{{ palpite.pj4c }}</td><td class="placar">X</td><td class="placar">{{ palpite.pj4f }}</td><td></td>
                    </tr>
                    <tr>
                        <td>Jogo 13</td><td></td><td class="placar">{{ palpite.pj1c }}</td><td class="placar">X</td><td class="placar">{{ palpite.pj1f }}</td><td></td>
                    </tr>
                    <tr>
                        <td>Jogo 14</td><td></td><td class="placar">{{ palpite.pj2c }}</td><td class="placar">X</td><td class="placar">{{ palpite.pj2f }}</td><td></td>
                    </tr>
                    <tr>
                        <td>Jogo 15</td><td></td><td class="placar">{{ palpite.pj3c }}</td><td class="placar">X</td><td class="placar">{{ palpite.pj3f }}</td><td></td>
                    </tr>   
                    <tr>
                        <td>Jogo 16</td><td></td><td class="placar">{{ palpite.pj4c }}</td><td class="placar">X</td><td class="placar">{{ palpite.pj4f }}</td><td></td>
                    </tr>
                    <tr>
                        <td>Jogo 17</td><td></td><td class="placar">{{ palpite.pj1c }}</td><td class="placar">X</td><td class="placar">{{ palpite.pj1f }}</td><td></td>
                    </tr>
                    <tr>
                        <td>Jogo 18</td><td></td><td class="placar">{{ palpite.pj2c }}</td><td class="placar">X</td><td class="placar">{{ palpite.pj2f }}</td><td></td>
                    </tr>
                    <tr>
                        <td>Jogo 19</td><td></td><td class="placar">{{ palpite.pj3c }}</td><td class="placar">X</td><td class="placar">{{ palpite.pj3f }}</td><td></td>
                    </tr>   
                    <tr>
                        <td>Jogo 20</td><td></td><td class="placar">{{ palpite.pj4c }}</td><td class="placar">X</td><td class="placar">{{ palpite.pj4f }}</td><td></td>
                    </tr>
                    <tr>
                        <td>Jogo 21</td><td></td><td class="placar">{{ palpite.pj1c }}</td><td class="placar">X</td><td class="placar">{{ palpite.pj1f }}</td><td></td>
                    </tr>
                    <tr>
                        <td>Jogo 22</td><td></td><td class="placar">{{ palpite.pj2c }}</td><td class="placar">X</td><td class="placar">{{ palpite.pj2f }}</td><td></td>
                    </tr>
                    <tr>
                        <td>Jogo 23</td><td></td><td class="placar">{{ palpite.pj3c }}</td><td class="placar">X</td><td class="placar">{{ palpite.pj3f }}</td><td></td>
                    </tr>   
                    <tr>
                        <td>Jogo 24</td><td></td><td class="placar">{{ palpite.pj4c }}</td><td class="placar">X</td><td class="placar">{{ palpite.pj4f }}</td><td></td>
                    </tr>


                    		
		        </table>

		    </div>
		{% endfor %}
		<div class="clear"><br><br><br><br><br><br></div>
{% endblock content %}