{% extends 'bolao/base.html' %}

{% block content %}

    	<h2>Ranking</h2>
    	<br><br>
        {% for palpite in palpites %}
            
        	<div class="box_tabela">
        		<table class="tabela pontos">
    				<tr>
    				    <th class="nome_palpite">{{ palpite }} &nbsp;({{ palpite.autor }})</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
    				    <th class="total_palpite">{{ palpite.total }}</th>
    				</tr>
                </table>
        		
                <table class="tabela palpites">
            		<tr>
            			<td>Jogo 1</td><td class="primeiro"><img src="{{ instituicoes.0.image.url }}" title="{{ instituicoes.0.nome }}" width="20" /></td><td class="primeiro">{{ instituicoes.0.nome_curto }}</td><td class="placar">{{ palpite.pj1c }}</td><td class="placar">X</td><td class="placar">{{ palpite.pj1f }}</td><td>{{ instituicoes.1.nome_curto }}</td><td><img src="{{ instituicoes.1.image.url }}" title="{{ instituicoes.1.nome_curto }}" width="20" /></td>
            		</tr>
                    <tr>
                        <td>Jogo 2</td><td class="primeiro"><img src="{{ instituicoes.2.image.url }}" title="{{ instituicoes.2.nome }}" width="20" /></td><td class="primeiro">{{ instituicoes.2.nome_curto }}</td><td class="placar">{{ palpite.pj2c }}</td><td class="placar">X</td><td class="placar">{{ palpite.pj2f }}</td><td>{{ instituicoes.3.nome_curto }}</td><td><img src="{{ instituicoes.3.image.url }}" title="{{ instituicoes.3.nome_curto }}" width="20" /></td>
                    </tr>
                    <tr>
                        <td>Jogo 3</td><td class="primeiro"><img src="{{ instituicoes.4.image.url }}" title="{{ instituicoes.4.nome }}" width="20" /></td><td class="primeiro">{{ instituicoes.4.nome_curto }}</td><td class="placar">{{ palpite.pj3c }}</td><td class="placar">X</td><td class="placar">{{ palpite.pj3f }}</td><td>{{ instituicoes.5.nome_curto }}</td><td><img src="{{ instituicoes.5.image.url }}" title="{{ instituicoes.5.nome_curto }}" width="20" /></td>
                    </tr>
                    <tr>
                        <td>Jogo 4</td><td class="primeiro"><img src="{{ instituicoes.6.image.url }}" title="{{ instituicoes.6.nome }}" width="20" /></td><td class="primeiro">{{ instituicoes.6.nome_curto }}</td><td class="placar">{{ palpite.pj4c }}</td><td class="placar">X</td><td class="placar">{{ palpite.pj4f }}</td><td>{{ instituicoes.7.nome_curto }}</td><td><img src="{{ instituicoes.7.image.url }}" title="{{ instituicoes.7.nome_curto }}" width="20" /></td>
                    </tr>
            		
                    


                    		
		        </table>

		    </div>
		{% endfor %}
		<div class="clear"><br><br><br><br><br><br></div>
{% endblock content %}