{% extends 'bolao/base.html' %}

{% block content %}
	
	    <h2>Boleiros</h2>
	    <h4>Somos  ({{ boleiros.count }}) no total</h4>

		<table class="tabela">
				<tr>
					<th>Avatar</th>
					<th>Nome</th>
					<th>Username</th>
					<th>Telefone</th>
					<th>Status</th>
				</tr>
			   
				{% for boleiro in boleiros %}
					
				<tr>
					<td class="segundo_td"><img src="{{ BASE_URL }}/media/{{ boleiro.profile.avatar }}" width="20"></td>
					<td class="primeiro_td">{{ boleiro.first_name }}</td>
					<td class="segundo_td">{{ boleiro.profile.user }}</td>
					<td class="segundo_td">{{ boleiro.profile.telefone }}</td>
					<td class="segundo_td">{{ boleiro.profile.status }}</td>
				</tr>

				{% endfor %} 
				


		
		</table>



	
		
{% endblock content %}