{% extends 'bolao/base.html' %}

{% block content %}

{% if user.is_authenticated %}
   
    <div class="col-md-12">
        <h2>Você está logado(a), segue o jogo!</h2>
    </div>  
    
{% else %}

<div class="col-md-4">
</div>
<div class="col-md-4">
    	<form action="{% url 'usuarios:cadastro' %}" class="form-sigin" method="post">
    		{% csrf_token %}
    		<h2>Por favor, cadastre-se</h2>
    		<label>Nome de usuário</label>
    		{{ form.username}}
    		{{ form.username.error}}
    		<label>Primeiro nome</label>
    		{{ form.first_name}}
    		{{ form.first_name.error}}
    		<label>Sobrenome</label>
    		{{ form.last_name}}
    		{{ form.last_name.error}}
    		<label>E-mail</label>
    		{{ form.email}}
    		{{ form.email.error}}
    		<label>Senha</label>
    		{{ form.password}}
    		{{ form.password.error}}
    		<button class="btn btn-lg btn-primary btn-block" type="submit">Jogar</button>
    	</form>
</div>
<div class="col-md-4">
</div>	
{% endif %}	
{% endblock content %}