{% extends 'bolao/base.html' %}

{% block content %}

{% if user.is_authenticated %}
   
    <div class="col-md-12">
        <h2>Você está logado(a), segue o jogo!</h2>
    </div>  
    
{% else %}

<div class="col-md-4">
</div>
<div class="col-md-4">
    	<form action="{% url 'usuarios:cadastro' %}" class="form-sigin" method="post" enctype="multipart/form-data">
    		{% csrf_token %}
    		<h2>Por favor, cadastre-se</h2>
    		{{ form.as_p }}
            <label>Telefone</label>
            {{ form2.telefone }}
            {{ form2.telefone.error }}
            <label>Avatar</label>
            {{ form2.avatar }}
            {{ form2.avatar.error }}
    		<br><button class="btn btn-lg btn-primary btn-block" type="submit">Jogar</button>
    	</form>
</div>
<div class="col-md-4">
</div>	
{% endif %}	
{% endblock content %}